<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-12 col-md-4 text-center text-md-start mb-4 mb-md-0">
        <a href="#" class="footer-logo">
          WONDER<span class="reg-symbol">®</span>
        </a>
      </div>

      <!-- Navigation Links -->
      <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
        <h5 class="footer-heading">Explore</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/shop" class="footer-link">Shop</a></li>
          <li><a routerLink="/brands" class="footer-link">Brands</a></li>
          <li><a routerLink="/editorial" class="footer-link">Editorial</a></li>
          <li><a routerLink="/press" class="footer-link">Press</a></li>
        </ul>
      </div>

      <!-- Social Media Icons -->
      <div class="col-12 col-md-4 text-center text-md-end">
        <h5 class="footer-heading">Follow Us</h5>
        <div class="social-icons">
          <a href="https://instagram.com" target="_blank" class="social-icon">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="social-icon">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://facebook.com" target="_blank" class="social-icon">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright Notice -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="copyright">&copy; 2025 WONDER. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
