<div class="container">
  <div class="row">
    <div class="col-md-6 left-side">
      <h2>Thank you.</h2>
      <p>
        Your order was completed successfully. We will send you an email with
        your order confirmation shortly
      </p>
      <span><a href="tel:+84369300839">Need help?</a> Call +84369300839</span>
    </div>
    <div class="col-md-5 right-side">
      <div class="product-list">
        <div
          class="row item-product-list"
          *ngFor="let item of OrderResponse?.order_details"
        >
          <div class="col-md-4 item-image">
            <img
              src="{{ item.product.thumbnail }}"
              alt="{{ item.product.name }}"
            />
          </div>
          <div class="col-md-8 item-info">
            <p class="item-name">{{ item }}</p>
            <p class="item-desc">
              {{ item.product.description }}
            </p>
            <div class="item-quantity">
              <input type="text" disabled value="{{ item.quantity }}" />
              <span>{{
                item.product.price * item.quantity | currencyPipe
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="total-price">
        <table>
          <tbody>
            <tr>
              <td class="title-price">Sub Total</td>
              <td>{{ OrderResponse.total_money | currencyPipe }}</td>
            </tr>
            <tr>
              <td class="title-price">Shiping</td>
              <td>Free</td>
            </tr>
            <tr>
              <td class="title-price">Promotion</td>
              <td>0đ</td>
            </tr>
            <tr class="border-top">
              <td class="title-price">Order Total</td>
              <td>{{ OrderResponse.total_money | currencyPipe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
