<div class="w-100">
  <h3>Order List</h3>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id" class="w-25">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let order">{{ order.id }}</td>
    </ng-container>

    <!-- FullName Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef>Fullname</th>
      <td mat-cell *matCellDef="let order">{{ order.fullname }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let order">{{ order.email }}</td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let order">{{ order.phone_number }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let order">{{ order.address }}</td>
    </ng-container>

    <!-- Note Column -->
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>Note</th>
      <td mat-cell *matCellDef="let order">{{ order.note }}</td>
    </ng-container>

    <!-- Order_date Column -->
    <ng-container matColumnDef="order_date">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let order">{{ order.order_date }}</td>
    </ng-container>

    <!-- Shipping Method Column -->
    <ng-container matColumnDef="shipping_method">
      <th mat-header-cell *matHeaderCellDef>Shipping Method</th>
      <td mat-cell *matCellDef="let order">
        {{ order.shipping_method | uppercasePipe }}
      </td>
    </ng-container>

    <!-- Payment Method Column -->
    <ng-container matColumnDef="payment_method">
      <th mat-header-cell *matHeaderCellDef>Payment Method</th>
      <td mat-cell *matCellDef="let order">
        {{ order.payment_method | uppercasePipe }}
      </td>
    </ng-container>

    <!-- Total Money Column -->
    <ng-container matColumnDef="total_money">
      <th mat-header-cell *matHeaderCellDef>Total Money</th>
      <td mat-cell *matCellDef="let order">
        <mat-chip>{{ order.total_money | currencyPipe }}</mat-chip>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let order">
        <mat-chip>{{ order.status | uppercasePipe }}</mat-chip>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let order">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <button
            class="border-0 text-danger bg-white"
            mat-icon-button
            (click)="deleteOrder(order.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            class="border-0 text-success bg-white"
            mat-icon-button
            (click)="viewDetail(order.id)"
          >
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="totalPages * itemsPerPage"
    [pageSize]="itemsPerPage"
    (page)="onChange($event)"
    aria-label="Select page"
  >
    >
  </mat-paginator>
</div>
